@page "/connect"
@layout Layout.EmptyLayout
<div class="card login-card">
    <h1 class="center-text">Login</h1>
    <form class="center center-text">
        <label>Server</label>
        <input id="server" class="center" type="text" name="Server">
    </form>
    <button class="center btn btn-primary" @onclick="connect">Connect</button>
</div>

@code {
    private void connect(){
        
    }
}